<div class="container-xxl py-4">
  <!-- Індикатор завантаження -->
  <div *ngIf="isLoading&&!author" class="text-center">
    <div class="spinner-border green-text" role="status">
      <span class="sr-only">Завантаження...</span>
    </div>
  </div>
  <!-- Контейнер з даними -->
  <div *ngIf="!isLoading && author" class="recipe-content">
    <div class="text-center wow animate__animated animate__fadeInUp mb-4">
      <h6 class="section-title bg-white text-center px-3 green-text">
        Персональна сторінка шефа
      </h6>
      <h1>{{ author.firstName + " " + author.lastName }}</h1>
    </div>

    <div class="row g-4 mb-2 wow animate__animated animate__fadeInUp">
      <div class="col-lg-3 col-md-6">
        <div class="team-item">
          <div class="overflow-hidden hard-frame">
            <img
              class="img-fluid"
              [src]="
                author.profilePhotoUrl
                  ? author.profilePhotoUrl
                  : 'assets/images/app/noavatar.jpg'
              "
              alt="{{ author.firstName + ' ' + author.lastName }}"
              (error)="
                author.profilePhotoUrl = 'assets/images/app/noavatar.jpg'
              "
            />
          </div>
          <div class="d-flex border-bottom">
            <small class="flex-fill text-center border-end py-2">
              <i class="fa fa-map-marker-alt green-text me-2"></i
              >{{ author.country + ", " + author.city }}
            </small>
            <small class="flex-fill text-center border-end py-2">
              <i class="fa fa-calendar-alt green-text me-2"></i>Резидент
              {{ calculateResidenceDuration(author.registrationDate) }}
            </small>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">{{ author.firstName + " " + author.lastName }}</h5>
            <div class="mb-3 green-text">
              <ng-container
                *ngFor="
                  let star of [].constructor(
                    getRatingStars(author.rating ?? 0).full
                  )
                "
              >
                <small
                  class="fa fa-solid fa-star"
                  style="display: inline-block"
                ></small>
              </ng-container>

              <ng-container *ngIf="getRatingStars(author.rating ?? 0).half">
                <small
                  class="fa fa-solid fa-star-half-alt"
                  style="display: inline-block"
                ></small>
              </ng-container>

              <ng-container
                *ngFor="
                  let star of [].constructor(
                    getRatingStars(author.rating ?? 0).empty
                  )
                "
              >
                <small
                  class="fa fa-regular fa-star"
                  style="display: inline-block"
                ></small>
              </ng-container>
              <ng-container *ngIf="author.rating ? author.rating : 0 > 0">
                <small style="display: inline-block">
                  {{ " | " + (author.rating ? author.rating.toFixed(1) : "0.0") }}
                </small>
              </ng-container>
            </div>
            <div class="d-flex justify-content-center mb-2">
              <a
                *ngIf="isLoggedin && !isFavorite(author)"
                (click)="toggleFavoriteAuthor(author)"
                class="btn btn-sm btn-primary px-3"
                style="border-radius: 30px 30px 30px 30px; color: white"
              >
                Додати в обрані
              </a>
              <a
                *ngIf="isLoggedin && isFavorite(author)"
                (click)="toggleFavoriteAuthor(author)"
                class="btn btn-sm btn-primary px-3"
                style="border-radius: 30px 30px 30px 30px; color: white"
              >
                Видалити з обраних
              </a>
              <a
                *ngIf="!isLoggedin"
                [routerLink]="['/login']"
                class="btn btn-sm btn-primary px-3"
                style="border-radius: 30px 30px 30px 30px; color: white"
              >
                Додати в обрані
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 wow animate__animated animate__fadeInUp">
        <div>
          <div class="about-item" [innerHTML]="sanitizedAbout"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div *ngIf="!isLoading&&author" class="recipe-content">
    <div class="text-center wow animate__animated animate__fadeInUp">
      <h6 class="section-title bg-white text-center px-3 green-text">
        Рецепти автора
      </h6>
      <h1 class="mb-5">Ось чим наш шеф поділився з містом</h1>
    </div>
  </div>
  <!-- Індикатор завантаження -->
  <div *ngIf="isLoading && recipes.length == 0" class="text-center">
    <div class="spinner-border green-text" role="status">
      <span class="sr-only">Завантаження...</span>
    </div>
  </div>

  <!-- Контейнер з даними -->
  <div *ngIf="!isStartLoading&&!isLoading&&author" class="container">
    <div class="row g-4 mb-2">
      <!-- Динамічний рендеринг користувачів -->
      <div
        *ngFor="let recipe of recipes"
        class="col-lg-6 col-md-12 wow animate__animated animate__fadeInUp"
      >
        <div class="team-item">
          <div
            class="overflow-hidden hard-frame"
            [routerLink]="['/recipes', recipe.slug]"
          >
            <img
              [src]="
                recipe.photoUrl
                  ? recipe.photoUrl
                  : 'assets/images/app/norecepi.jpg'
              "
              alt="{{ recipe.recipeName }}"
              (error)="recipe.photoUrl = 'assets/images/app/norecepi.jpg'"
            />
          </div>

          <div class="text-center p-4">
            <h5 class="mb-0">{{ recipe.recipeName }}</h5>
            <div class="mb-3 green-text">
              <ng-container
                *ngFor="
                  let star of [].constructor(
                    getRatingStars(recipe.averageRating ?? 0).full
                  )
                "
              >
                <small
                  class="fa fa-solid fa-star"
                  style="display: inline-block"
                ></small>
              </ng-container>

              <ng-container
                *ngIf="getRatingStars(recipe.averageRating ?? 0).half"
              >
                <small
                  class="fa fa-solid fa-star-half-alt"
                  style="display: inline-block"
                ></small>
              </ng-container>

              <ng-container
                *ngFor="
                  let star of [].constructor(
                    getRatingStars(recipe.averageRating ?? 0).empty
                  )
                "
              >
                <small
                  class="fa fa-regular fa-star"
                  style="display: inline-block"
                ></small>
              </ng-container>
              <ng-container
                *ngIf="recipe.averageRating ? recipe.averageRating : 0 > 0"
              >
                <small style="display: inline-block">
                  {{ " | " + (recipe.averageRating ? recipe.averageRating.toFixed(1) : "0.0") }}
                </small>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Нескінченний скролінг -->
  <div *ngIf="isLoading&&recipes.length>0" class="text-center mt-4">
    <div class="spinner-border green-text" role="status">
      <span class="sr-only">Завантаження...</span>
    </div>
  </div>
  <!-- Повідомлення про завершення завантаження всіх авторів -->
  <div *ngIf="allRecipesLoaded && recipes.length > 0" class="text-center">
    <p>Всі рецепти автора завантажені</p>
  </div>
  <div *ngIf="allRecipesLoaded && recipes.length == 0" class="text-center">
    <p>У автора ще немає рецептів</p>
  </div>

  <div *ngIf="!isLoading" class="text-center wow animate__animated animate__fadeInUp">
    <a class="text-center m-5 px-3 green-text" [routerLink]="['/recipes']">
      Подивитися всі рецепти нашого міста
    </a>
  </div>
</div>
