<div
  class="container wow animate__animated animate__fadeInUp "
>
  <section id="content">
    <form (ngSubmit)="submitForm()">
      <h1 class="green-text">Зареєструватися</h1>
      <div>
        <i
          class="fa-solid fa-envelope green-text"
          style="position: absolute; left: 70px; top: 70px"
        ></i>
        <input
          name="email"
          type="email"
          placeholder="Email"
          required
          id="email"
          [(ngModel)]="email"
        />
      </div>
      <div>
        <i
          class="fa-solid fa-lock green-text"
          style="position: absolute; left: 70px; top: 135px"
        ></i>
        <input
          name="password"
          type="password"
          placeholder="Password"
          required
          id="password"
          [(ngModel)]="password"
        />
      </div>
			<div>
        <i
          class="fa-solid fa-lock green-text"
          style="position: absolute; left: 70px; top: 200px"
        ></i>
        <input
          name="repassword"
          type="password"
          placeholder="Password one more time"
          required
          id="repassword"
          [(ngModel)]="repassword"
        />
      </div>
      <div>
        <input
          type="submit"
          value="Зареєструватися"
          class="btn btn-primary rounded-pill py-2 px-4"
        />
        <div class="links">
          
          <a [routerLink]="['/login']">Вже є аккаунт?</a>
        </div>
        <div *ngIf="errorMessage" style="color: red">{{ errorMessage }}</div>
      </div>
    </form>
  </section>
</div>
