<div class="recipe-content">
  <div
    class="text-center wow animate__animated animate__fadeInUp "
  >
    <h6 class="section-title bg-white text-center px-3 green-text">
      Улюблені сусіди в Місті Рецептів
    </h6>
    <h1 class="mb-5">Давайте знайомитися і творити смакоту разом!</h1>
  </div>
</div>

<div class="container-xxl py-4">
  <!-- Індикатор завантаження -->
  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border green-text" role="status">
      <span class="sr-only">Завантаження...</span>
    </div>
  </div>

  <!-- Контейнер з даними -->
  <div *ngIf="!isLoading" class="container">
    <div class="row g-4 mb-2">
      <!-- Динамічний рендеринг користувачів -->
      <div
        *ngFor="let user of favorites"
        class="col-lg-3 col-md-6 wow animate__animated animate__fadeInUp "
      >
        <div class="team-item">
          <div class="overflow-hidden hard-frame">
            <img
              class="img-fluid"
              [src]="
                user.profilePhotoUrl
                  ? user.profilePhotoUrl
                  : 'assets/images/app/noavatar.jpg'
              "
              alt="{{ user.firstName + ' ' + user.lastName }}"
              (error)="user.profilePhotoUrl = 'assets/images/app/noavatar.jpg'"
            />
          </div>
          <div class="d-flex border-bottom">
            <small class="flex-fill text-center border-end py-2">
              <i class="fa fa-map-marker-alt green-text me-2"></i
              >{{ user.country + ", " + user.city }}
            </small>
            <small class="flex-fill text-center border-end py-2">
              <i class="fa fa-calendar-alt green-text me-2"></i>Резидент
              {{ calculateResidenceDuration(user.registrationDate) }}
            </small>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">{{ user.firstName + " " + user.lastName }}</h5>
            <div class="mb-3 green-text">
              <ng-container
                *ngFor="
                  let star of [].constructor(
                    getRatingStars(user.rating ?? 0).full
                  )
                "
              >
                <small
                  class="fa fa-solid fa-star"
                  style="display: inline-block"
                ></small>
              </ng-container>

              <ng-container *ngIf="getRatingStars(user.rating ?? 0).half">
                <small
                  class="fa fa-solid fa-star-half-alt"
                  style="display: inline-block"
                ></small>
              </ng-container>

              <ng-container
                *ngFor="
                  let star of [].constructor(
                    getRatingStars(user.rating ?? 0).empty
                  )
                "
              >
                <small
                  class="fa fa-regular fa-star"
                  style="display: inline-block"
                ></small>
              </ng-container>
              <ng-container *ngIf="user.rating ? user.rating : 0 > 0">
                <small style="display: inline-block">
                  {{ " | " + (user.rating ? user.rating.toFixed(1) : "0.0") }}
                </small>
              </ng-container>
            </div>
            <div class="d-flex justify-content-center mb-2">
              <a
                [routerLink]="['/authors', user.id]"
                class="btn btn-sm btn-primary px-3 border-end"
                style="border-radius: 30px 0 0 30px; color: white"
              >
                Сторінка шефа
              </a>
              <a
                *ngIf="isLoggedin && !isFavorite(user)"
                (click)="toggleFavoriteAuthor(user)"
                class="btn btn-sm btn-primary px-3"
                style="border-radius: 0 30px 30px 0; color: white"
              >
                Додати в обрані
              </a>
              <a
                *ngIf="isLoggedin && isFavorite(user)"
                (click)="toggleFavoriteAuthor(user)"
                class="btn btn-sm btn-primary px-3"
                style="border-radius: 0 30px 30px 0; color: white"
              >
                Видалити з обраних
              </a>
              <a
                *ngIf="!isLoggedin"
                [routerLink]="['/login']"
                class="btn btn-sm btn-primary px-3"
                style="border-radius: 0 30px 30px 0; color: white"
              >
                Додати в обрані
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
